# ARCHIVOS TEMPORALES Y DE SISTEMA 🔥
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.apk
*.aab
*.unitypackage
*.app
*.crash
*.pid
*.suo
*.user
*.userprefs
*.booproj
*.opendb
*.VC.db
sysinfo.txt

# 🔧 ARCHIVOS DE UNITY 🔧
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
Assets/StreamingAssets/aa/
Assets/StreamingAssets/aa.meta
Assets/AddressableAssetsData/*/*.bin*
Assets/GUIPackCartoon/
Assets/GUIPackCartoon.meta

# METADATA
*.meta
*.asset
*.mixer

# SOLUCIONES Y PROYECTOS .NET / VISUAL STUDIO
*.csproj
*.unityproj
*.sln
*.suo
*.pdb
*.mdb
*.pdb.meta
*.mdb.meta
*.pidb
*.pidb.meta

# GRADLE Y ANDROID BUILD SYSTEM
.gradle/
.idea/
*.iml
android/build/
android/.gradle/
**/build/
**/intermediates/
**/incremental/
**/generated/
**/outputs/

# VSCode/JetBrains y otras configuraciones de IDEs
.vscode/
.vs/
ExportedObj/
.consulo/
Assets/Plugins/Editor/JetBrains*

#  OTROS
.DS_Store
Thumbs.db

#  LOGS QUE CAUSABAN ERROR
Sopa de letras/Logs/*.log